@import "../../../styles/variables.scss"; 

.circles-wrapper {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 5rem;

    .circle, 
    .half-circle {
      margin: 4px;
      height: 1rem;
      background: $errorColor;
    }
    
    .circle {
        width: 1rem;
        border-radius: 50px;
    }
    
    .half-circle {
        width: 0.5rem;
        border-radius: 100px 0 0 100px;
    }
}