@import "../../../../styles/variables.scss";

.tag {
    padding: 2px 10px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.tag-title  {
    color: white;
    padding-right: 15px;    
    font-weight: 400;
    min-width: 50px;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tag-title:hover {
    opacity: 0.9;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.remove-tag {
    background: $errorColor;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 30px;
    position: absolute;
    right: -1px;
    top: -6px;
    cursor: pointer;
}

.remove-tag-icon {
    background: $errorColor;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 30px;
}

.remove-tag:hover {
    cursor: pointer;
    opacity: 0.9;
}

.tag {
    .color-picker {
        border: none;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .color-picker-icon {
        position: absolute;
        right: 2.5rem;
        font-size: 14px;
        pointer-events: none;
    }
}

.note {
    display: flex;
    justify-content: center;
}
