<div class="container reset-password">
    <div class="row height center">
      <div class="col-md-6 center">
        <div class="card card-container ">
          <form  name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm">
            <div class="form-group">
                <label class="mb-3" for="email"> Please enter your email: </label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    #email="ngModel">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block"> Reset Password </button>
            </div>
                
          </form>
          <div class="flex-center mt-3">
            Go back to login  &nbsp; <a routerLink="/login"> here </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  