.new-password .card-container {
    min-width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px;
}

.new-password,
.new-password .height  {
    height: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}