@import "../../../styles/variables.scss";

mat-form-field  {
    width: 100%;
}


::ng-deep .cdk-overlay-container {
    z-index: 10000!important;
}

.display-none {
    display: none;
}

::ng-deep .tags-list .mat-form-field-underline {
    display: none;
}

::ng-deep .tags-list .mat-form-field-flex {
    background: initial!important;
    padding: 10px;
    border: 1px solid $listColor;
    border-radius: 10px;
    box-shadow: 0 8px 10px -10px $listColor;
}

.error-too-many-tags {
    position: absolute;
    top: -55px;
    right: -10px;
    color: #cc0000;
}

.display-none {
    display: none;
}

input:disabled {
    display: none!important;
    pointer-events: none;
}