<div class="modal-header">
    <h4 class="modal-title" id="modal-title"> {{list.title}}</h4>
</div>
<div class="modal-body">
  
  <div class="modal-body-text">
    <div class="title" *ngIf="description">
      Description
    </div>
    <p [innerHTML]="description"></p>
  </div>

  <div class="modal-body-text">
    <div class="title" *ngIf="observations">
      Observations
    </div>
    <p [innerHTML]="observations"></p>
  </div>
 
  <div class="modal-body-text">
    <div class="title">
    Date Created
    </div>
    <p>
      {{this.dateCreated}}
    </p>
  </div>

  <div *ngIf="list.status == ITEM_STATUS.completed" class="modal-body-text">
    <div class="title">
    Date Completed
    </div>
    <p>
      {{this.dateCompleted}}
    </p>
  </div>

  <div class="modal-body-text pie-chart">
    <div class="title">
      Tags distribution
    </div>
    <app-pie-chart [dataObject]="tagsObject"> </app-pie-chart>
  </div>

 
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
</div>