
$listColor: 	rgb(128,0,128);
$taskColor: #98C540;

$darkSpringGreen: #2E6B48;
$darkJungleGreen: #12261D;
$prussianBlue: #122E42;

$errorColor: #cc0000;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;   

$firstTimeBubble: #FF00FF;

$secondTimeBubble: #8A2BE2;

$thirdTimeBubble: #9932CC;

$crimsonRed: #DC143C;

$tomatoRed: #FF6347;

$notStartedTask: gray;

$frontendTag: #32CD32;
$backendTag: #3232cd;
$testingTag: #cd7f32;
$bugTag: #cd3232;
$codeRefactoryTag: #cd327f;
$frontendBackendTag: #32cdcd;
$gitTag: #113438;



$topBackground: "../../../assets/images/leavesBgnd.png";