
$listColor: 	rgb(128,0,128);
$taskColor: #98C540;

$darkSpringGreen: #2E6B48;
$darkJungleGreen: #12261D;
$prussianBlue: #122E42;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;   

$firstTimeBubble: #FF00FF;

$secondTimeBubble: #8A2BE2;

$thirdTimeBubble: #9932CC;

$crimsonRed: #DC143C;

$tomatoRed: #FF6347;