@import "../../../styles/variables.scss";

.work-break-content {
    .break {
        border-radius: 30px;
        padding: 10px;
        font-size: 18px;
        background: $errorColor;
        color: white;
        border: none;
        outline: none;
    }
    
    .time-bubble {
        color: white;
        border-radius: 30px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 5px 10px 5px 10px;
    }

    .title {
        padding: 5px;
    }
    
    .break-container {
        display: flex;
        font-size: 18px;

        .time-break {
            padding: 0 15px 0 15px;
        }
    }

    .pause-button, 
    .exit-button,
    .resume-button {
        border: none;
        color: white;
        padding: 2px 10px 2px 10px;
        outline: none;
    }

    .resume-button {
        font-size: 16px;
    }
 
    .pause-button {
        background: $listColor;
    }

    .exit-button {
        background: $errorColor;
    }

    .resume-button {
        background: $taskColor;
    }
}

