@import "../../../styles/variables.scss";



.work-break-content {

    .break {
        border-radius: 30px;
        padding: 10px;
        font-size: 18px;
        background: $orange;
        color: white;
        border: none;
        opacity: 0.8;
        outline: none;
    }

    .break:hover {
        opacity: 1;
    }

    .time-bubble {
        color: white;
        border-radius: 30px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 5px 10px 5px 10px;
    }

    .title {
        padding: 5px;
    }

    .first {
        background: $firstTimeBubble;
    }

    .second {
        background: $secondTimeBubble;
    }

    .third {
        background: $thirdTimeBubble;
    }
    
    .break-container {
        display: flex;
        font-size: 18px;

        .time-break {
            padding: 0 15px 0 15px;
        }
    }

    .pause-button, 
    .exit-button,
    .resume-button {
        border: none;
        color: white;
        padding: 2px 10px 2px 10px;
        outline: none;
        opacity: 0.9;
    }

    .resume-button {
        font-size: 16px;
    }

    .pause-button:hover,
    .exit-button:hover,
    .resume-button:hover {
        opacity: 1;
    }

    .pause-button {
        background: $tomatoRed;
    }

    .exit-button {
        background: $crimsonRed;
    }

    .resume-button {
        background: $taskColor;
    }
}

