<div class="work-break-content">
    <button *ngIf="pauseStarted == false" class="btn-primary break" ngbTooltip="Take a 15mins break!" (click)="startTimer()"> 
        Break! 
    </button>

    <div *ngIf="pauseStarted == true" class="break-container">
        <button *ngIf="paused == false" class="btn-primary pause-button" (click)="pauseTimer()">
            <i class="fa-solid fa-pause"></i>
        </button>

        <button *ngIf="paused == true" class="btn-primary resume-button" (click)="resumeTimer()">
            <i class="fa-solid fa-play"></i>
        </button>

        <div class="time-break">
            {{ minutesToShow }} : {{ secondsToShow }}
         </div>
         <button class="btn-primary exit-button" (click)="stopTimer()">
            <i class="fa-solid fa-xmark"></i>
         </button>
    </div>
</div>

<audio #audioOption>
    <source src='../../../assets/sounds/alarm-pause-end.wav' type="audio/mp3">
</audio>