<div class="form-group relative">
    <label for="password"></label>
    <input
    id="password"
    [type]="showPassword ? 'password' : 'text'"
    class="form-control"
    name="password"
    [(ngModel)]="form.password"
    required
    minlength="8"
    #password="ngModel"
    />
    <button class="show-password" (click)="changeShowPassword()" >
        <i id="showPassword" [class]="!showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'" ></i>
    </button>
    <div class="mt-3 custom-alert-danger" role="alert" *ngIf="password.errors['required'] && fSubmitted">
       Password is required
    </div>
</div>