.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container {
    padding: 30px;
}

.login .card-container {
    min-width: 400px;
}

.login .alert-danger {
    margin-top: 10px;
}