.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .card-container {
    min-width: 400px;
}

.login .alert-danger {
    margin-top: 10px;
}

.login,
.login .height  {
    height: 100%;
}

.card-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 30px;
}

.version, .register-account {
    display: flex;
    justify-content: center;
}