

<div *ngIf="inProgressLists" class="main-dropdown pt-3">
    <div class="inprogress-dropdown-toggle">
        <div [@incrementNumber]="incrementNumber == false ? 'initial' : 'incrementing'" class="list-title" (click)="toggleInProgress()">
            <i class="fa-solid pr-1" [ngClass]="showInProgress == true ? 'fa-caret-down' : 'fa-caret-right'"></i>
            In Progress ({{inProgressLists.length}})
        </div>

        <div class="add-list">
            <button class="btn-primary border" (click)="createNewList()" ngbTooltip="Create a list">
                Add list
            </button>
        </div>
    </div>
    <div class="inprogress-dropdown-area pl-4 pr-3" [ngClass]="showInProgress == false ? 'hide' : ''">
        <div *ngFor="let list of inProgressLists"  (click)="selectList(list)" class="list list-color" [ngClass]="selectedList._id == list._id ? 'selected' : ''">
            <div class="list-title">
                {{ list.title }}
            </div>
    
            <div class="actions" *ngIf="selectedList._id == list._id">
                <div class="progress-bar-container">
                    <span  class="progress-bar-text">{{list.percentCompleted}} %</span>
                    <ngb-progressbar [textType]="dark" [showValue]="false" [type]="progressBarColor" [value]="list.percentCompleted"></ngb-progressbar>
                </div>
                <div ngbDropdown>
                    <i class="fa-solid fa-caret-down dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle></i>
                    <div class="list-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="markCompleted" title="Mark as Completed"  *ngIf="list.percentCompleted == 100" (click)="markAsCompleted(list)" ngbTooltip="Mark as Completed">
                            <i class="fa-solid fa-check"></i>
                        </button>
                        <button class="info" (click)="showListInfo(list)" title="Show List Info" ngbTooltip="List Info">
                            <i class="fa-solid fa-info"></i>
                        </button>
                        <button class="modify" (click)="modifyThisList(list)" title="Modify List" ngbTooltip="Modify List">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                
                        <button class="delete" (click)="deleteThisList(list)" title="Delete List" ngbTooltip="Delete List">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space-div"></div>
<div *ngIf="completedLists.length > 0" class="main-dropdown pt-3">
    <div class="completed-dropdown-toggle">
        <div class="list-title completed" (click)="toggleCompleted()">
            <i class="fa-solid pr-1" [ngClass]="showCompleted== true ? 'fa-caret-down' : 'fa-caret-right'"></i>
            Completed ({{completedLists.length}})
        </div>
    </div>
    <div class="completed-dropdown-area pl-4 pr-3" [ngClass]="showCompleted == false ? 'hide' : ''">
        <div *ngFor="let list of completedLists" class="list list-color" (click)="selectList(list)" [ngClass]="selectedList._id == list._id ? 'selected' : ''">
            <div class="list-title">
                {{ list.title }}
            </div>
    
            <div class="actions" *ngIf="selectedList._id == list._id">
                <div class="progress-bar-container">
                    <span  class="progress-bar-text">{{list.percentCompleted}} %</span>
                    <ngb-progressbar [textType]="dark" [showValue]="false" type="success" [value]="list.percentCompleted"></ngb-progressbar>
                </div>
                <div ngbDropdown>
                    <i class="fa-solid fa-caret-down dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle></i>
                    <div class="list-dropdown" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="info" (click)="showListInfo(list)" title="Show List Info" ngbTooltip="List Info">
                            <i class="fa-solid fa-info"></i>
                        </button>
                        <button class="modify" (click)="modifyThisList(list)" title="Modify List">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button class="delete" (click)="deleteThisList(list)" title="Delete List">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>