<div class="container register">
    <div class="row height center margin-top">
        <div class="col-md-6 height center">
            <div class="card card-container">
              <div class="row title-row mb-5">
                <div class="col-12 flex-center">
                    <div class="app-title has-text-primary">
                        <h1 class="title-header"> TaskFlow </h1>
                        <i class="fa-solid fa-tree app-logo flip"></i>
                    </div>
                </div>
              </div>
              <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                  />
                  <div class="custom-alert-danger mt-3" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">
                      Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Username must be at most 20 characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                  />
                  <div class="custom-alert-danger mt-3" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="8"
                    #password="ngModel"
                    [ngClass]="{ 'is-valid': (submitted || form.password.dirty) && !form.password.errors, 'is-invalid': (submitted || form.password.dirty) && form.password.errors }"
                    />

                  <app-password-strength [passwordToCheck]="form.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>

                  <div class="custom-alert-danger mt-3" *ngIf="password.errors">
                    <div *ngIf="password.errors['required']">
                      Password is required
                    </div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 8 characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Sign Up</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
              <div class="login mt-3">
                Already have an account? Login &nbsp; <a routerLink="/login">  here </a>
              </div>
              <div class="version mt-3">
                Version {{version}}
              </div>
            </div>
          </div>
    </div>
</div>
