@import "../../../../styles/variables.scss";

.title-container {
    width: 100%;
}

.title-container form {
    width: 100%;
    padding: 5px 5px 5px 5px;

    .item-title {
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .item-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .item-sub-title {
            width: 50%;
            font-size: 16px;
            display: flex;
            align-items: center;
        }

        input[type="password"]  {
            width: 50%;
            margin: 0;
            max-height: 30px;
        }

        app-password-strength {
            width: 50%;
            min-height: 28px;
        }

        .alert-danger {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }

    .submit-form {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 8px;

        .btn-primary {
            width: 50%;
            background: $listColor;
        }

        .btn-primary {
            border: none;
            opacity: 0.8;   
        }

        .btn-primary:hover {
            opacity: 1;
        }

        .btn-primary:focus {
            outline: none!important;
            box-shadow: none;
            border: none;
        }
    }
}

.not-valid-password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: $errorColor;
    height: 25px;
    font-weight: 400;
    font-size: 16px;

    .message {
        width: 50%;
        text-align: center;
    }
}

.upload {
    cursor: pointer;
}

.custom-file-label {
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
}

.custom-file-label:hover {
    cursor: pointer;
}

.custom-file-label::after {
    display: none!important;
}