<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Account</h4>
</div>
<div class="modal-body">
    <div class="name modal-text title-container">
        <form  name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
            <div class="item-title">Change Password</div>
            <div class="item-section">
                <div class="item-sub-title"> Enter a new Password</div>
                <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="this.form.password"
                required
                #password="ngModel"
                />
                <app-password-strength [passwordToCheck]="this.form.password" (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
            </div>

            <div class="item-section">
                <div class="item-sub-title">Confirm Password</div>              
                <input  
                type="password"
                class="form-control"
                name="confirmPassword" 
                [(ngModel)]="this.form.confirmPassword" 
                required/>
            </div>
            <div class="form-group submit-form">
                <button class="btn btn-primary btn-block"> Submit </button>
            </div> 
            <div class="not-valid-password">
                <div class="message">
                    {{this.passwordError}}

                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
</div>