<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Add Task</h4>
</div>
<div class="modal-body">
    <div class="name modal-text title-container">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="title" minlength="2">
    </div>
    <div class="error-message" *ngIf="this.emptyTitle == true">
       * The title cannot be empty.
    </div>
  
    <div class="description modal-text description-container">
        <label for="description">Description</label>
        <textarea autosize id="description" [(ngModel)]="description"></textarea>
    </div>

    <div class="name modal-text tag-container">
        <label for="tags">Tags</label>
       <app-tags (tagsAdded)="tagsAddedHandler($event)"></app-tags>
    </div>

    <div class="estimation modal-text estimation-container">
        <label for="description">Estimation (hours)</label>
        <select #teams (change)="pickEstimation(teams.value)">
            <option default>0</option>
            <option *ngFor="let item of timeValues">{{item}}</option>
        </select>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="confirm()">Confirm</button>
</div>