<div class="modal-header">
    <h4 class="modal-title" id="modal-title"> {{task.title}}</h4>
</div>
<div class="modal-body">
  
  <div class="modal-body-text">
    Description:
    <p>
      {{task.description}}
    </p>
  </div>

 
  <div class="modal-body-text">
    Date Created:
    <p>
      {{task.dateCreated}}
    </p>
  </div>

  <div class="modal-body-text">
    Date Completed:
    <p>
      {{task.dateCompleted}}
    </p>
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
</div>