<div class="modal-header">
    <h4 class="modal-title" id="modal-title"> {{task.title}}</h4>
</div>
<div class="modal-body">
  
  <div class="modal-body-text">
    <div class="title">
      Description
    </div>
    <p>
      {{task.description}}
    </p>
  </div>
 
  <div *ngIf="task.status == ITEM_STATUS.completed" class="modal-body-text">
    <div class="title">
      Observations
    </div>
    <p>
      {{task.observations}}
    </p>
  </div>

 
  <div class="modal-body-text">
    <div class="title">
    Date Created
    </div>
    <p>
      {{this.dateCreated}}
    </p>
  </div>

  <div *ngIf="task.status == ITEM_STATUS.completed" class="modal-body-text">
    <div class="title">
    Date Completed
    </div>
    <p>
      {{this.dateCompleted}}
    </p>
  </div>

  <div *ngIf="task.status == ITEM_STATUS.completed" class="modal-body-text">
    <div class="title">
    Working Time
    </div>
    <p>
      {{task.totalWorkingTime}}
    </p>
  </div>

  <div class="modal-body-text">
    <div class="title">
      Tags
    </div>
      <app-display-tags [tags]="task.tags"></app-display-tags>
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
</div>