
.delete-task {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 10em;
    width: 20em;
    box-shadow: 0 0 5px rgb(0 0 0 / 27%);
}