@import "../../../styles/variables.scss";

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 64px;
    height: 30px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.1);
    border: 2px solid $taskColor;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 3px;
    left: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(32px);
}

.fa-moon,
.moon {
    color: pink;
    font-size: 17px;
    cursor: pointer;
}

.fa-sun,
.sun {
    color: yellow;
    font-size: 17px;
    cursor: pointer;
}