<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Account created with success!</h4>
</div>

<div class="modal-body">
    <p>
        You can now also upload a profile picture. If you don't want to, you can upload it later
        from the app.
    </p>
    <div class="item-section">
        <div class="input-group">
            <div class="custom-file">
                <form action="/api/upload" method="post" enctype="multipart/form-data">
                    <input  (change)="fileChange($event)"  type="file"  class="custom-file-input" name="profile-pic"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                </form>
                <label *ngIf="this.uploadedFile" class="custom-file-label" for="inputGroupFile01">{{this.uploadedFile.name}}</label>
                <label *ngIf="!this.uploadedFile" class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button type="button" class="btn btn-success continue" (click)="continueToDashboard()"> Continue to Dashboard</button>
</div>