<div class="user-section-wrapper">
  <div ngbDropdown [open]="tutorialStep == 2" class="user-section" id="userSectionDropdown">
      <img class="user-small-image" [src]="this.profilePicture">
      <div ngbDropdownToggle class="username">
          <i *ngIf="this.userRole == USER_ROLES.MASTER" class="fa-solid fa-bolt admin-icon admin-icon-position"  ngbTooltip="Master"></i>
          <i *ngIf="this.userRole == USER_ROLES.ADMIN" class="fa-solid fa-star admin-icon admin-icon-position"  ngbTooltip="Admin"></i>
          {{ userName }}
      </div>

      <div id="user-section-dropdown-content" ngbDropdownMenu aria-labelledby="userSectionDropdown">
          <div class="user-dropdown-action" (click)="openAccountModal()"> Account </div>
          <div class="user-dropdown-action" *ngIf="this.userRole == USER_ROLES.MASTER" (click)="showUsers()"> Users </div>
          <div class="user-dropdown-action" *ngIf="this.userRole == USER_ROLES.MASTER || this.userRole == USER_ROLES.ADMIN " (click)="openHistoryPage()"> History </div>
          <div [class]="tutorialStep == 2 ?  'user-dropdown-action list-background' : 'user-dropdown-action'" (click)="showSettings()"> Settings </div>
          <div class="user-dropdown-action" (click)="showTagsList()"> Tags List </div>
          <div class="user-dropdown-action" (click)="logOut()"> Log out </div>
      </div>
  </div>
</div>
