/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "styles/variables.scss";
@import "../node_modules/@angular/material/theming";

@include mat-core();

$my-primary: mat-palette($mat-teal, 800);
$my-accent: mat-palette($mat-light-green, 800);
$my-theme: mat-light-theme($my-primary, $my-accent);

@include angular-material-theme($my-theme);



/* width */
::-webkit-scrollbar {
    width: 6px;
    cursor:pointer;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $taskColor!important;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
    cursor: pointer;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.color-scheme-light {
    height: 100%;
    background: url(assets/images/trance2.jpg) no-repeat fixed;
    background-size: cover;
}

.center-component {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
}

.modal {
    z-index: 9999;
}

html, body { height: 100%;overflow: hidden!important; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }

    .modal-dialog {
        max-width: 700px!important;
        max-height: 700px!important;
    }
}


.modal-dialog {
    width: 100%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



.modal .modal-body {
    margin-top: 5px;
    overflow-x: auto;
}

.modal .tag-container {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    label {
        width: 100%;
    }
}

.modal .title-container {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    label {
        margin-bottom: 0;
    }

    input {
        margin-left: 15px;
        width: 100%;
        padding: 10px;
        border: 1px solid $listColor;
        border-radius: 10px;
        box-shadow: 0 8px 10px -10px $listColor;
    }
}

.modal .estimation-container {
    font-size: 1.1rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 5px;

    label {
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    select {
        width: 90px;
        border: 1px solid $listColor;
        border-radius: 10px;
        box-shadow: 0 8px 10px -10px $listColor;
    }
}

.modal .description-container {
    font-size: 1.1rem;
    margin-top: 20px;

    label {
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $listColor;
        border-radius: 10px;
        box-shadow: 0 8px 10px -10px $listColor;
    }
}

/* Modals */

.modal .modal-content {
    border-radius: 5px 5px 30px 30px;

    input, textarea {
        outline: none;
    }

    label {
        color: $listColor;
    }

    .modal-header {
        color: white;
        border-bottom: none;
        background: $taskColor;
        opacity: 0.8;
    }

    .modal-footer {
        min-height: 50px;
        border: none;
    }

    .btn-success {
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 30px 0;
        font-size: 18px;
        padding: 5px 20px 5px 20px;
        background: $taskColor;
        border: none;
        outline: none;
    }

    .btn-success:hover,
    .btn-danger:hover {
        opacity: 0.9;
    }

    .btn-danger {
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0 30px;
        font-size: 18px;
        padding: 5px 20px 5px 20px;
        background: $listColor;
        border: none;
        outline: none;
    }

    .modal-body-text {
        font-size: 18px;
    }

    .custom-file .custom-file-label {
        background: transparent;
    }
}


input:disabled, textarea:disabled, select:disabled {
    background: lightgray;
}

.register .profile-img-card,
.login .profile-img-card {
    border-radius: 300px;
}

.register .margin-top,
.login .margin-top {
    margin-top: 20px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-dashed {
    border: 1px dashed $listColor;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}


:root {
    --top-navbar-dark: #212529;
    --primary-dark: #1F1B24;
    --secondary-dark: #121212;
    --text-dark: #fff;
    --header-text-dark: #788791;
}

.color-scheme-dark {
    color: var(--text-dark);

    background: url(assets/images/darkbkgnd.jpg) no-repeat top center;
    background-size: cover;

    .card-container {
        background: linear-gradient(90deg, rgba(18,18,18,1) 36%, rgba(31,27,36,1) 80%, rgba(33,37,41,1) 100%);
    }

    .direction-button {
        color: var(--text-dark);
    }

    .mat-select-arrow, .mat-select-value {
        color: var(--text-dark);
    }


    h1,
    h2,
    h3,
    mat-card-title {
      color: var(--header-text-dark);
    }

    mat-list-item .mat-list-item-content {
      color: var(--text-dark);
    }

    .task-manager-container {
        background: linear-gradient(90deg, rgba(18,18,18,1) 36%, rgba(31,27,36,1) 80%, rgba(33,37,41,1) 100%)!important;
        color: var(--text-dark)!important;

        label, input,
        ::placeholder,
        .mat-option-text,
        .mdc-tab__text-label {
            color: var(--text-dark)!important;
        }
    }

    .modal-content,
    .autocomplete-dropdown,
    textarea,
    .mat-table,
    input,
    input:focus {
        background: var(--primary-dark)!important;
        color: var(--text-dark)!important;

        label, input,
        ::placeholder,
        .mat-option-text,
        .mat-cell, .mat-header-cell,
        .mat-tab-label-content {
            color: var(--text-dark)!important;
        }
    }

    .not-started-task-color {
        color: var(--text-dark)!important;
    }

    .legend-label-text {
        color: white;
    }

    .chart-legend .legend-label .active .legend-label-text {
        color: white;
        opacity: 0.8;
    }

    .pie-label.animation {
        fill: white;
    }

    .task-manager-container {
        opacity: 0.95!important;
    }

    .modal-body, .modal-footer {
        background: var(--primary-dark)!important;
    }

    .modal-footer {
        border-radius: 0 0 30px 30px;
    }

    input:disabled, textarea:disabled, select:disabled {
        cursor: not-allowed;
        background: initial!important;
    }

    .mat-list-option, .mat-pseudo-checkbox {
        color: var(--text-dark);
    }
}

.pie-label.animation {
    font-size: 16px;
}

.legend-labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.ngx-charts-tooltip-content {
    z-index: 999999!important;
}

.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.title-row .app-title:hover:before {
    top: 0;
}

.title-row .app-title {
    position: relative;
    overflow: hidden;
    border: 5px solid $taskColor;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 0 100px 55px 125px;
    background: $taskColor;
    padding: 2px 10px 2px 10px;
    width: fit-content;

    h1 {
        color: white;
    }

    .app-logo {
        color: white;
        z-index: 3;
    }

    .fa-tree {
        margin-left: 10px;
    }

    .fa-tree,
    .fa-pagelines {
        font-size: 28px;
    }
}



.title-row .title-header {
    position: relative;
    color: white;
    overflow: hidden;
    transition: 1s;
    z-index: 3;
    font-size: 35px;
}


.flex-center {
    display: flex;
    justify-content: center;
}

.btn-primary {
    font-weight: 500;
}

.btn-primary:focus {
    outline: none!important;
    box-shadow: none!important;
}

.btn-primary {
    opacity: 1;
}

.new-password .btn-primary,
.reset-password .btn-primary,
.login .btn-primary,
.register .btn-primary,
.btn-primary {
    background: $listColor;
}

.btn-primary:hover {
    opacity: 0.9;
}

.upload {
    cursor: pointer;
}

.custom-file-label {
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
}

.custom-file-label:hover {
    cursor: pointer;
}

.custom-file-label::after {
    display: none!important;
}

.custom-alert-danger {
    text-align: center;
    color: white;
    font-weight: 500;
    padding: 3px;
    background: $errorColor;
    border-radius: 3px;
}

.toast-top-center {
    top: 30px!important;
}

.text-bg-success  {
    background-color: $listColor!important;
}

.text-bg-warning {
    background-color: $warningColor!important;
}

.text-bg-danger {
    background-color: $errorColor!important;
}

.relative {
    position: relative;
}


.button-pulse-effect {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse-black 1s infinite;
}

.icon-pulse-effect {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: icon-pulse-black 1s infinite;
}

.icon-pulse-effect-2 {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(2);
    animation: icon-pulse-black 1s infinite;
}



@keyframes icon-pulse-black {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-black {
    0% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
        background: $listColor;
    }

    100% {
        transform: scale(0.85);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.flip {
    animation: flip 2s infinite linear;
}

@keyframes flip{
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
 }

.mat-table {
    box-shadow: none!important;
}

.admin-icon {
    color: gold;
}

.mat-header-cell {
    font-size: 16px;
}

/* Class added for a shine effect on hover */
.shine-effect {
    overflow: hidden;
}

.shine-effect:before {
    content: '';
    position: absolute;
    top: 0;
    left: -300px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg);
    transition: 0.5s;
}

.shine-effect:hover:before {
    left: 250px;
    background: rgba(255, 255, 255, 0.2);
}

button:focus {
  outline: none!important;
  box-shadow: none!important;
}
//TODO
.mat-paginator .cdk-overlay-connected-position-bounding-box {
  z-index: 1000000 !important;
}

.mat-paginator .cdk-global-overlay-wrapper {
  z-index: 1000000 !important;
}
