/* You can add global styles to this file, and also import other style files */

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

$primary: $green;
$link: $light-green;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
    background: $turquoise;
}

html, body {
    height: 100%;
    background: $turquoise;
}

.modal {
    z-index: 100000;
}