<div class="centered-content">
    <div class="task-manager-container">
        
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="lists-container">
                <div *ngFor="let list of lists" class="list" [ngClass]="selectedList._id == list._id ? 'selected' : ''" (click)="selectList(list)">
                    {{ list.title }}
                </div>
            </div>

            <div class="add-list">
                <button (click)="createNewList()">
                    Add list
                </button>
            </div>
        </div>
        
        <div class="task-list-container">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <div class="tasks-container">
                <div *ngFor="let task of tasks" class="task">
                    {{task.title}}
                    <button class="delete-task" (click)="deleteThisTask(task)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>

            <div class="add-task">
                <button class="create-task" (click)="createNewTask()">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
