<div class="container task-manager-container ">
    <div class="work-break">
        <app-work-break></app-work-break>    
    </div>
    <!-- <app-testing [testInput]="lists"></app-testing> -->
    <div class="user-section-wrapper">  
        <div ngbDropdown [open]="tutorialStep == 2" class="user-section" id="userSectionDropdown">
            <img class="user-small-image" [src]="this.profilePicture">
            <div ngbDropdownToggle class="username">
                <i *ngIf="this.isAdmin" class="fa-solid fa-bolt-lightning admin-icon"></i>
                {{ userName }}
            </div>
            
            <div id="user-section-dropdown-content" ngbDropdownMenu aria-labelledby="userSectionDropdown">
                <div class="user-dropdown-action" (click)="openAccountModal()"> Account </div>
                <div class="user-dropdown-action" *ngIf="this.isAdmin" (click)="openHistoryPage()"> History </div>
                <div [class]="tutorialStep == 2 ?  'user-dropdown-action list-background' : 'user-dropdown-action'" (click)="showSettings()"> Settings </div>
                <div class="user-dropdown-action" (click)="showTagsList()"> Tags List </div>
                <div class="user-dropdown-action" (click)="logOut()"> Log out </div>
            </div>
        </div>
    </div>
    <div class="row title-row">
        <div class="col-4">
            <div class="app-title has-text-primary">
                <h1 class="title-header"> TaskFlow </h1> 
                <i class="fa-solid fa-tree app-logo"></i>
            </div>
        </div>
        <div *ngIf="tutorialStep != -1" class="col-12">
            <div class="row justify-content-center tutorial">
                <div class="col-6">
                    {{tutorialStepText}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <app-success-message [eventData]="successEventData"></app-success-message>
        <app-error-message [eventData]="errorEventData"></app-error-message>
    </div>

    <div class="row sidebar">
        <app-lists class="lists-container col-3"
            [tutorialStep]="tutorialStep"
            [inProgressLists]="inProgressLists" [completedLists]="completedLists" [selectedList]="selectedList"
            (listEvent)="listEvent($event)" [progressBarColor]="progressBarColor"
            [tagsObject]="tagsObject">
        </app-lists>
        
        <div class="task-list-container col-9">
            <div *ngIf="this.showSearch == true" class="form-group search-tasks">
                <input type="text" (input)="searchValueChanged($event)" class="form-control mb-4" placeholder="Search" [(ngModel)]="searchFilter" id="listSearch">
            </div>
            <div class="no-tasks-message pt-3 pl-2" *ngIf="inProgressTasks.length == 0 &&
            completedTasks.length == 0 && listChanged == true">
                This list doesn't have any tasks yet. Use the button from the right bottom corner to add tasks.
            </div>
            <mat-tab-group class="tasks-tabs" *ngIf="tasks" mat-align-tabs="start" (selectedTabChange)="tasksTabChange($event)">
                <mat-tab *ngIf="inProgressTasks.length > 0" [label]="'In Progress (' + inProgressTasks.length + ')'">
                    <div  cdkDropList class="inprogress-tasks" (cdkDropListDropped)="drop($event, shownInProgressTasks)">
                        <div *ngFor="let task of (shownInProgressTasks | searchTaskFilter : searchFilter);let indexOfElement=index;" class="task task-color" cdkDrag [@slideAnimation]="task.animation" [@cloneTaskAnimation]="task.animation">
                            <div class="drag-drop-placeholder" *cdkDragPlaceholder></div>
                            <div class="title-wrapper">
                                <div class="checkbox-and-title">
                                    <div *ngIf="task.isStarted == TASK_STATUS.started" [class]="tutorialStep == 5 ?  'button-pulse-effect circle' : 'circle'" (click)="completeTask(task, indexOfElement)">
                                        <div class="checkmark"></div>
                                    </div>
                                    <div *ngIf="task.isStarted == false" class="circle gray-circle" (click)="notStartedTask(task)"></div>
                                    <app-display-tags [tags]="task.tags"></app-display-tags>
                                    <div [ngClass]="task.isStarted == false ? 'not-started-task-color' : ''" class="task-title" (click)="openTaskModal(task)">
                                        {{task.title}}
                                    </div>
                                    <app-status-circles [circles]="task.estimation"></app-status-circles>
                                </div>
                            </div>
                            
                            <div class="actions">
                                <div *ngIf="task.isStarted == TASK_STATUS.started && task.showTimer == true" class="task-duration">
                                    {{task.workingTime}}
                                </div>
                                <button *ngIf="task.isStarted == TASK_STATUS.started" class="pause" (click)="pauseTask(task)" title="Pause Task">
                                    <i class="fa-solid fa-pause"></i>
                                </button>
                                <button *ngIf="task.isStarted == TASK_STATUS.paused" class="resume" (click)="resumeTask(task)" title="Resume Task">
                                    <i class="fa-solid fa-forward-step"></i>
                                </button>
                                <button *ngIf="task.isStarted == TASK_STATUS.notStarted" [class]="tutorialStep == 4 ?  'begin icon-pulse-effect' : 'begin'" (click)="beginTask(task)" title="Begin Task">
                                    <i class="fa-solid fa-flag-checkered"></i>
                                </button>
                                <button class="clone" (click)="cloneTask(task)" title="Clone Task">
                                    <i class="fa-solid fa-clone"></i>
                                </button>
                                <button class="modify" (click)="modifyThisTask(task)" title="Modify Task">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="delete" (click)="deleteThisTask(task, indexOfElement, ITEM_STATUS.inProgress)" title="Delete Task">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
               
                <mat-tab [label]="'Completed (' + completedTasks.length + ')'" *ngIf="completedTasks.length > 0">
                    <div class="completed-tasks">
                        <div *ngFor="let task of (shownCompletedTasks | searchTaskFilter : searchFilter); let indexOfElement=index;" 
                            class="task task-color" 
                            [@slideAnimation]="task.animation">
                            <div class="checkbox-and-title">
                                <div class="circle-completed">
                                    <div class="checkmark"></div>
                                </div>
                                <app-display-tags [tags]="task.tags"></app-display-tags>
                                <div class="task-title" (click)="openTaskModal(task)">
                                    {{task.title}}
                                </div>
                            </div>
                            <div class="actions">
                                <button class="modify" (click)="modifyThisTask(task)" title="Modify Task">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="delete" (click)="deleteThisTask(task, indexOfElement, ITEM_STATUS.completed)" title="Delete Task">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <app-custom-paginator [showPagination]="showPagination" (eventChange)="paginatorEvent($event)"></app-custom-paginator>
            <div *ngIf="showPagination == false" class="search-results">
                Found results: {{foundResults}}
            </div>
        </div>
    </div>
    
    <div class="row bottom-row">   
        <div class="version" (click)="showChangelog()">
            Version {{this.version}}
        </div>
        <div class="add-task" *ngIf="selectedList && selectedList.status == ITEM_STATUS.inProgress">
            <div *ngIf="inProgressTasks.length == 0 && listChanged == true" class="add-task-reminder">
                Add new tasks for your list "{{selectedList.title}}" !
            </div>
            <div [ngClass]="this.tutorialStep == 3 ? 'button-pulse-effect create-task': 'rotate create-task'" (click)="createNewTask()" ngbTooltip="Create a Task">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor ="#121212" size ="medium" color ="#BB86FC" type ="ball-atom" [fullScreen] ="true"><p style="color: white" > Logging out ... </p></ngx-spinner>

