<div class="container task-manager-container ">
    <div class="row title-row">
        <div class="col-4">
            <h1 class="title has-text-primary">
                Lists <i class="fa-solid fa-tree"></i>
            </h1>
        </div>
        <div class="col-8">
            <h1 class="title has-text-primary">
                Tasks <i class="fa-brands fa-pagelines"></i>
            </h1>
        </div>
    </div>
    <div class="row sidebar">
        <div class="lists-container col-4">
            <div *ngFor="let list of lists" class="list list-color" [ngClass]="selectedList._id == list._id ? 'selected' : ''" (click)="selectList(list)">
                {{ list.title }}

                <div class="actions">
                    <button class="modify" (click)="modifyThisList(list)" title="Modify List">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
    
                    <button class="delete" (click)="deleteThisList(list)" title="Delete List">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="task-list-container col-8">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="In Progress">
                    <div  cdkDropList class="inprogress-tasks" (cdkDropListDropped)="drop($event, inProgressTasks)">
                        <div *ngFor="let task of inProgressTasks" class="task task-color" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <div class="checkbox-and-title">
                                <div class="circle" (click)="completeThisTask(task)">
                                    <div class="checkmark"></div>
                                </div>
                                <div class="task-title">
                                    {{task.title}}
                                </div>
                            </div>
                          
                            <div class="actions">
                                <button class="modify" (click)="modifyThisTask(task)" title="Modify Task">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                
                                <button class="delete" (click)="deleteThisTask(task)" title="Delete Task">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                
                <mat-tab label="Completed">
                    <div cdkDropList class="completed-tasks" (cdkDropListDropped)="drop($event, completedTasks)">
                        <div *ngFor="let task of completedTasks" class="task task-color" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <div class="checkbox-and-title">
                                <div class="circle-completed">
                                    <div class="checkmark"></div>
                                </div>
                                <div class="task-title">
                                    {{task.title}}
                                </div>
                            </div>
                          
                            <div class="actions">
                                <button class="modify" (click)="modifyThisTask(task)" title="Modify Task">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                
                                <button class="delete" (click)="deleteThisTask(task)" title="Delete Task">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="add-list">
            <button class="list-background" (click)="createNewList()">
                Add list
            </button>
        </div>

        <div class="add-task">
            <div *ngIf="tasks.length == 0" class="add-task-reminder">
                Start adding tasks for your list "{{selectedList.title}}" !
            </div>
            <button [ngClass]="tasks.length == 0 ? 'button-pulse-effect': ''" class="create-task task-background" (click)="createNewTask()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
</div>
