.task-manager-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    max-height: 680px;
    height: 100%;
    background: white;
    padding: 20px;
}

.sidebar {
    width: 30%;

    .title {
        height: 15%;
    }

    .add-list {
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .add-list button {
        font-size: 20px;
        background: aquamarine;
        color: white;
        border: none;
        opacity: 0.8;
        height: 2.5rem;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }

    .add-list button:hover {
        opacity: 1;
        cursor: pointer;
    }

    .lists-container {
        height: 60%;
        overflow-y: auto;
        padding: 10px;
    }

    .lists-container .list:not(:first-child) {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 20px;
    }

    .lists-container .list:first-child {
        padding-bottom: 8px;
        font-size: 20px;
    }


    .lists-container .list:hover {
        cursor: pointer;
        color: #44ddd0;
    }

    .lists-container .selected {
        color: #44ddd0;
    }
}

.task-list-container {
    width: 70%;
    padding-left: 30px;

    .title {
        height: 15%;
    }

    .tasks-container {
        height: 60%;
        overflow-y: auto;
        padding: 10px;
    }

    .tasks-container .task {
        display: flex;
        justify-content: space-between;
    }

    .tasks-container .task:not(:first-child) {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 17px;
        font-weight: 500;
    }

    .tasks-container .task:first-child {
        padding-bottom: 8px;
        font-size: 17px;
        font-weight: 500;
    }

    .tasks-container .task:hover {
        cursor: pointer;
        color: #44ddd0;
    }

    .tasks-container .delete-task {
        border: none;
        background: none;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        color: rgb(255,69,0);
        :hover {
           cursor: pointer;
        }
    }



    .add-task {
        height: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .add-task button {
        height: 2.5rem;
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }

    .create-task {
        border-radius: 40px;
        display: flex;
        font-size: 35px;
        border: none;
        background: aquamarine;
        color: white;
        opacity: 0.8;
        transition: transform 0.7s ease-in-out;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .create-task:hover {
        opacity: 1;
        cursor: pointer;
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    cursor:pointer;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #44ddd0; 
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: aquamarine; 
}