<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Modify {{elementName}}</h4>
</div>
<div class="modal-body">
    <div class="name modal-text title-container">
        <label for="title">Title</label>
        <input  id="title" type="text" [value]="this.title" [(ngModel)]="this.title" minlength="2">
    </div>
  
    <div class="description modal-text description-container">
        <label for="description">Description</label>
        <textarea id="description" [value]="this.description" [(ngModel)]="this.description"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="confirm()">Confirm</button>
</div>