<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Modify {{elementName}}</h4>
</div>
<div class="modal-body">
    <div class="name modal-text title-container">
        <label for="title">Title</label>
        <input [disabled]="this.status == ITEM_STATUS.completed"  id="title" type="text" [value]="this.title" [(ngModel)]="this.title" minlength="2">
    </div>
  
    <div class="description modal-text description-container">
        <label for="description">Description</label>
        <textarea [disabled]="this.status == ITEM_STATUS.completed" autosize id="description" [value]="this.description" [(ngModel)]="this.description"></textarea>
    </div>

    <div *ngIf="elementName == ITEM_TYPE.task" class="estimation modal-text estimation-container">
        <label for="description">Estimation (hours)</label>
        <select [disabled]="this.status == ITEM_STATUS.completed" #teams (change)="pickEstimation(teams.value)">
            <option *ngFor="let item of timeValues" [selected]="item == estimation">{{item}}</option>
        </select>
    </div>

    <div *ngIf="this.status == ITEM_STATUS.completed" class="observations modal-text description-container">
         <label for="observation">Observations</label>
        <textarea autosize id="observations" [value]="this.observations" [(ngModel)]="this.observations"></textarea>
    </div>
    
    <div *ngIf="elementName == ITEM_TYPE.task" class="observations modal-text description-container">
        <label>Tags</label>
        <app-tags [currentTags]="this.tags" [taskCompleted]="this.status" (tagsAdded)="tagsAddedHandler($event)"></app-tags>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="confirm()">Confirm</button>
</div>